$black: #111111;
$white: #FFFFFF;
$orange: #EB9038;
$pink: #F3C0C6;
$desert-sand: #F3C3CF;
$blue: #8DC4F3;
$peach: #F49879;
$dark-grey: #3D4853;
$light-grey: #797979;
$light-black: #2F2F2F;
$amaranth: #E4C3D4;
$pastel-yellow: #EA974E;
$cloudy-sky: #8DC4F3;
$linen: #FBEDF1;